// we'd have to include all files here, or from components rather than in the html
//@import "../../public/css/socicon.css";
//@import "../../public/css/iconsmind.css";
//@import "../../public/css/interface-icons.css";
//@import "../../public/css/owl.carousel.css";
//@import "../../public/css/theme-mediumblue.css";
//@import "../../public/css/font-karlaopensans.css";
//@import "../../public/css/bootstrap.css";

/***************************
Add your custom styles below
****************************/

html {
  scroll-behavior: smooth;
}

.fat {
  line-height: 0;
  font-size: 21px;
  font-family: "Anton", sans-serif;
}

.thin {
  font-family: "Raleway", sans-serif;
}

.nav-bar .logo {
  max-height: 30px;
  margin: 0;
}

img {
  margin-bottom: 0em;
}

div.portfolio-item {
  margin-bottom: 0em;
}
div.portfolio-item h5 {
  margin: 0;
}
div.portfolio-item span {
  opacity: 0.5;
}
div.portfolio-item img {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}
div.portfolio-item:hover img {
  opacity: 0.7;
}
